{% extends "base.html" %}

{% block title %}{{ config['SITE_NAME'] }} - Ansible Command History{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-table-1.11.1/bootstrap-table.min.css') }}">
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h2>Ansible Command History</h2>
</div>

<table id="ListTable"
       data-toggle="table"
       data-url="{{ url_for('ansible.flower-list') }}"
       data-method	="get"
       data-query-params=""
       data-pagination="true"
       data-page-size=10
       data-page-list="[10, 25, 50, All]"
       data-search="true"
       data-sort-name="timestamp"
       data-sort-order="desc"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-columns="true"
       data-show-export="true"
       data-export-data-type="selected"
       data-show-pagination-switch="true"
       data-striped="true"
       data-toolbar="#toolbar">
    <thead>
        <tr>
            <th data-field="uuid" data-sortable="false" data-switchable="false" data-visible="false">UUID</th>
            <th data-field="group" data-sortable="true">group</th>
            <th data-field="command" data-sortable="false">command</th>
            <th data-field="timestamp" data-sortable="true">Time</th>
            <th data-field="state" data-sortable="true">State</th>
            <th data-field="result.output" data-sortable="true">Result</th>
        </tr>
    </thead>
</table>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='bootstrap-table-1.11.1/bootstrap-table.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-table-1.11.1/locale/bootstrap-table-zh-CN.min.js') }}"></script>
<script>
$(function () {
    $('#ListTable').bootstrapTable({
    });
});
</script>
{% endblock %}