{% extends "base.html" %}

{% block title %}{{ config['SITE_NAME'] }} - OS Init{% endblock %}

{% block page_content %}
<div class="page-header">
    <h2>OS Init</h2>
</div>

<div class="col-md-12">
    <form id="os_init_add" action="{{ url_for('.os_init_add') }}" method="POST">
        {{ add_os_init_form.csrf_token }}
        <div class="form-group">
            <label for="group">{{ add_os_init_form.hostlist.label }}：</label>
            {{ add_os_init_form.hostlist(class="form-control",placeholder="格式：hostname,ip 每行一台主机") }}
        </div>

        <button type="submit" class="btn btn-primary">submit</button>
    </form>
</div>

<div class="col-md-12">
    <hr />
</div>

<div class="col-md-12">
    <div class="panel panel-info">
        <div class="panel-heading">Result</div>
        <div class="panel-body">
            <p id="result"></p>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
function start_os_init_task() {
    var url = "{{ url_for('.os_init_add') }}";
    var csrf_token = $('#csrf_token').val();
    var hostlist = $('#hostlist').val();

    // send ajax POST request to start background job
    $.ajax({
        type: 'POST',
        data: {'csrf_token':csrf_token, 'hostlist':hostlist},
        url: url,
        success: function(data, status, request) {
            if (data['r']==0){
                status_url = data['Location'];
                console.log("status_url: " + status_url);
                update_progress(status_url);
            }else{
                alert(data['error']);
                console.log(data['error']);
            }
        },
        error: function() {
            alert('Unexpected error');
        }
    });
}

function update_progress(status_url) {
    // send GET request to status URL
    $.getJSON(status_url, function(data) {
        var hostlist = $('#hostlist').val();

        // update UI
        $('#result').empty();
        $('#result').append("<img src=\"/static/images/loading.gif\" /><span class=\"text-warning\"><strong>" + hostlist + "</strong> is Execing...</sparn>");
        console.log(data['Status']);
        if (data['Status'] != 'PENDING' && data['Status'] != 'PROGRESS') {
            html = "<p class=\"text-primary\">HostList: <strong>" + hostlist + "</strong></p>" +
                "<p class=\"bg-primary text-warning\">Result: </p>";
            //html = '';

            if (data['Status'] == 'SUCCESS') {
                // show result
                $('#result').empty();
                result = html + '<p class=\"text-primary\"><strong>Ansible-Playbook is ' + data['Status'] + '</strong></p><p>' + data['Out'].replace(/\n/g, '<br />') + '</p>';
                $('#result').append(result);
            }else if(data['Status'] == 'CELERY_FAILURE'){
                // something unexpected happened
                $('#result').empty();
                result = html + '<p class=\"text-primary\"><strong><strong>Ansible-Playbook is ' + data['Status'] +  '.</strong></p>';
                $('#result').append(result);
            } else {
                // something unexpected happened
                $('#result').empty();
                result = html + '<p class=\"text-primary\"><strong>Ansible-Playbook is ' + data['Status'] +  '</strong></p><p>' +  data['Out'].replace(/\n/g, '<br />') + '</p>';
                $('#result').append(result);
            }
        } else {
            // rerun in 2 seconds
            setTimeout(function() {
                update_progress(status_url);
            }, 2000);
        }
    });
}

$(function() {
    $('#os_init_add').submit(function(event) {
        start_os_init_task();
        event.preventDefault();
    });
});
</script>
{% endblock %}