{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %}{{ config['SITE_NAME'] }} - Deploy Module{% endblock %}

{% block page_content %}
<div class="page-header">
    <h2>Deploy Module</h2>
</div>

<div class="col-md-10">
    <form id="deploy_add" action="{{ url_for('deploy.deploy_module_add') }}" method="POST">
        {{ add_deploy_form.csrf_token }}
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label class="control-label col-md-2" for="select_module">{{ add_deploy_form.module.label }}：</label>
                    <div class="col-md-4">
                        {{ add_deploy_form.module(class="form-control") }}
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="version">{{ add_deploy_form.version.label }}：</label>
                    <div class="col-md-4">
                        <select class="form-control" id="version" name="version">
                            <option value="0">Choose...</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="deploy_dir">Select Deploy DIR:</label>
                    <div class="col-md-4">
                        <label class="checkbox-inline" for="apps">
                            <input type="checkbox" name="deploy_dir" value="apps">
                            apps
                        </label>

                        <label class="checkbox-inline" for="lib">
                            <input type="checkbox" name="deploy_dir" value="lib">
                            lib
                        </label>

                        <label class="checkbox-inline" for="config">
                            <input type="checkbox" name="deploy_dir" value="config">
                            config
                        </label>
                  </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-8">
                <button type="submit" class="btn btn-primary">submit</button>&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="reset" class="btn btn-danger">reset</button>
            </div>
        </div>
    </form>
</div>

<div class="col-md-12">
    <hr />
</div>

<div class="col-md-12">
    <div class="panel panel-info">
        <div class="panel-heading">Result</div>
        <div class="panel-body">
            <p id="result"></p>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
function start_deploy_task() {
    var url = "{{ url_for('deploy.deploy_module_add') }}";
    var csrf_token = $('#csrf_token').val();
    var module = $('#module').val();
    var version = $('#version').val();
    var deploy_dir = [];
    $('input:checkbox[name=deploy_dir]:checked').each(function(){
        deploy_dir.push($(this).val());
    });

    // send ajax POST request to start background job
    $.ajax({
        type: 'POST',
        data: {'csrf_token':csrf_token, 'module':module , 'deploy_dir':deploy_dir, 'version': version},
        url: url,
        success: function(data, status, request) {
            status_url = request.getResponseHeader('Location');
            update_progress(status_url);
        },
        error: function() {
            alert('Unexpected error');
        }
    });
}

function update_progress(status_url) {
    // send GET request to status URL
    $.getJSON(status_url, function(data) {
        // update UI
        if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS') {
            if ('result' in data) {
                // show result
                $('#result').empty();
                $('#result').append(data['result']);
            }
            else {
                // something unexpected happened
                $('#result').empty();
                $('#result').append("<img src=\"/static/images/loading.gif\" /><span class=\"text-warning\"><strong>" + job_name + "</strong> is Building...</sparn>");
            }
        }
        else {
            // rerun in 2 seconds
            setTimeout(function() {
                update_progress(status_url);
            }, 2000);
        }
    });
}

$(function() {
    $('#module').change(function() {
        if($('#module').val() == 0){
            $("#version").empty();
            $("#version").append("<option value=\"0\">Choose...</option>");
            return false;
        }
        var url = "{{ url_for('deploy.jenkins_job_number') }}?job_name=" + $('#module').val();
        $.get(url, function(result){
            $("#version").empty(); //clean select option
            for(var item in result){
                $("#version").append("<option value=" + result[item] + ">" + result[item] + "</option>");
            }
        });
    });

    $('#deploy_add').submit(function(event) {
        start_deploy_task();
        /*
        var url = "{{ url_for('deploy.deploy_module_add') }}";
        var csrf_token = $('#csrf_token').val();
        var module = $('#module').val();
        var version = $('#version').val();
        var deploy_dir = [];
        $('input:checkbox[name=deploy_dir]:checked').each(function(){
            deploy_dir.push($(this).val());
        });

        $.post(url,
            {'csrf_token':csrf_token, 'module':module , 'deploy_dir':deploy_dir, 'version': version},
            function (result){
            if(result["r"] == 0){

            }
            alert(result["r"]);
            alert(rsult["task_id"]);
        });
        */
        event.preventDefault();
    });
});
</script>
{% endblock %}