{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %}{{ config['SITE_NAME'] }} - Jenkins Building{% endblock %}

{% block page_content %}
<div class="page-header">
    <h2>Jenkins Building</h2>
</div>

<div class="col-md-10">
    <form id="jenkins_building" action="{{ url_for('deploy.jenkins_building') }}" method="POST">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label class="control-label col-md-2" for="select_module">{{ form.job_name.label }}：</label>
                    <div class="col-md-4">
                        {{ form.job_name(class="form-control") }}
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="tag">{{ form.tag.label }}：</label>
                    <div class="col-md-4">
                        <select class="form-control" id="tag" name="tag">
                            <option value="0">Choose...</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <p></p>
        </div>

        <div class="form-group">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-8">
                <button type="submit" class="btn btn-primary">submit</button>&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="reset" class="btn btn-danger">reset</button>
            </div>
        </div>
    </form>
</div>

<div class="col-md-12">
    <hr />
</div>

<div class="col-md-12">
    <div class="panel panel-info">
        <div class="panel-heading">Result</div>
        <div class="panel-body">
            <p id="result"></p>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
function start_build_task() {
    var url = "{{ url_for('deploy.jenkins_building_add') }}";
    var csrf_token = $('#csrf_token').val();
    var job_name = $('#job_name').val()
    var tag = $('#tag').val()
    if (job_name == 0){
        alert("Please Select Exec Job.");
        return false;
    }

    // send ajax POST request to start background job
    $.ajax({
        type: 'POST',
        data: {'csrf_token':csrf_token, 'job_name':job_name , 'tag':tag},
        url: url,
        success: function(data, status, request) {
            if (data['r']==0){
                status_url = data['Location'];
                console.log("status_url: " + status_url);
                update_progress(status_url);
            }else{
                alert(data['error']);
                console.log(data['error']);
            }
        },
        error: function() {
            alert('Unexpected error');
        }
    });
}

function update_progress(status_url) {
    // send GET request to status URL
    $.getJSON(status_url, function(data) {
        var job_name = $('#job_name').val();
        var tag = $('#tag').val();
        var html = "";
        // update UI
        $('#result').empty();
        $('#result').append("<img src=\"/static/images/loading.gif\" /><span class=\"text-warning\"><strong>" + job_name + "</strong> is Building...</sparn>");
        console.log(data['result']);
        if (data['result'] == "PENDING" || data['result'] == null){
            // rerun in 2 seconds
            setTimeout(function() {
                update_progress(status_url);
            }, 2000);
        }else if ( data['result'] == 'SUCCESS' && data['building'] == false) {
            // show result
            $('#result').empty();
            var revisions = data['revisions'];
            var html2 = '';
            for (i in revisions) {
                html2 += "<p class=\"text-primary\">SVN: <strong>" + revisions[i].module +
                    "</strong></p><p class=\"text-primary\">Version: <strong>" + revisions[i].revision + "</strong></p>";
            }
            var result = html + '<p class=\"text-primary\"><strong>Job is ' + job_name + '</strong></p>' +
                '<p class=\"text-primary\">TAG: <strong>' + tag + '</strong></p>' + html2;
            $('#result').append(result);
        }else if(data['result'] == 'ERROR'){
            // something unexpected happened
            $('#result').empty();
            var htm2 = '<hr /><p class=\"text-danger\"><strong>Building is ERROR!</strong></p>'
            result = html + '<p class=\"text-primary\"><strong><strong>Job is ' + job_name +  '</strong></p>' +
                '<p class=\"text-primary\">TAG: <strong>' + tag + '</strong></p>' + html2;
            $('#result').append(result);
        } else {
            // rerun in 2 seconds
            setTimeout(function() {
                update_progress(status_url);
            }, 2000);
        }
    });
}

$(function() {
    $('#job_name').change(function() {
        if($('#job_name').val() == 0){
            $("#tag").empty();
            $("#tag").append("<option value=\"0\">Choose...</option>");
            return false;
        }
        var url = "{{ url_for('deploy.svn_tags') }}?job_name=" + $('#job_name').val();
        $.get(url, function(result){
            $("#tag").empty(); //clean select option
            for(var item in result){
                $("#tag").append("<option value=" + result[item] + ">" + result[item] + "</option>");
            }
        });
    });

    $("#jenkins_building").submit(function (event) {
        start_build_task();
        event.preventDefault();
    });
});
</script>
{% endblock %}